<a href="https://colab.research.google.com/github/jazaineam1/Andes_ADDBD/blob/main/Sesion4/M1_Clase_4_Manipulaci%C3%B3n_de_datos_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Análisis de Datos y Big data***

## ***Universidad de los Andes***
>## **Dirección de Educación Continua.**
>>## **Formación de habilidades escenciales.**

![Imágen1](https://github.com/jazaineam1/Andes_ADDBD/blob/main/Imagenes/Presentaci%C3%B3n-removebg-preview.png?raw=true)

## **Manipulación de datos en Python**
## **Módulo 1**

**Hoy aprenderemos a:**
* Cargar bases de datos en Python.
* Mirar con ojo analítico las bases cargadas.
* Ejecutar operaciones de limpieza que involucran filtrar, seleccionar datos, reemplazar y eliminar.
* Manejo de valores vacíos.
</br>**Además, aprenderemos a:**
* Describir la relación entre bases de datos que están en tablas separadas.
* Unir verticalmente cuando queremos agregar datos adicionales.
* Unir hizontalmente cuando queremos agregar columnas a los mismos datos.

## 1. Carga y limpieza de datos

### Carga y primera exploración

**Importamos las librerías**

In [ ]:
import pandas as pd
import numpy as np
import urllib.request

**Cargamos los datos**

In [ ]:
# Guardamos en ambiente de colab
!wget  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
# Cargamos en un dataframe de pandas usando el comando pd.read_csv
df_titanic = pd.read_csv('titanic.csv')
# Data set listo para trabajar
df_titanic

El [diccionario de la base de datos](https://www.kaggle.com/c/titanic/data) lo encontramos en Kaggle.

**Presentamos los datos por primera vez**

In [ ]:
df_titanic.head()

**Ejercicio**: ¿A qué corresponde cada una de las filas? ¿Qué estamos observando en esta tabla? (*unidad de observación*).

**Observamos características que tienen las columnas**

In [ ]:
df_titanic.info()

**Describimos los datos cuantitativos a grandes rasgos**

In [ ]:
df_titanic.describe()

**Describimos las variables categóricas**

In [ ]:
df_titanic.describe(include='O')

**Ejercicio:** Pregúntese ¿Qué proporción de las personas en el titanic sobrevivieron? (utilice las exploraciones previas para responderlo)

**Ejercicio 2:** Consulte el diccionario de la base de datos. ¿Qué información registra la columna "Embarked"?

### Operaciones de filtro y selección

**Seleccionamos columnas individuales por su nombre**

In [ ]:
df_titanic['Survived'].mean()

**Ejercicio**: Intente obtener la edad de la persona mayor que viajó en el Titanic (puede utilizar la función max)

In [ ]:
# RESPUESTA

**Podemos hacer operaciones con columnas enteras**

*where* nos sirve para modificar el valor de una columna basado en la información de **otra columna**.

In [ ]:
# Crear una columna que nos indique si la persona pagó un tiquete superior a 40 dólares
df_titanic["Muy caro"] = np.where(df_titanic["Fare"]>40,"Caro","Barato")

**Podemos seleccionar a partir de una lista de nombres columnas sobre el *dataframe***

In [ ]:
df_titanic[["Fare", "Muy caro"]].head()

**Ejercicio:** Recodificar la columna sexo, creando una nueva columna llamada "Mujer" que tenga el valor de 1 si sexo es "female" y 0 de lo contrario.

In [ ]:
# RESPUESTA

Con una columna de ceros y unos podemos extraer la proporción de unos calculando la media:

In [ ]:
df_titanic["Mujer"].mean()

**Podemos calcular estadísticos filtrando las filas que cumplen una condición**

In [ ]:
condicion = df_titanic["Embarked"] == "S"

In [ ]:
# Cuenta de datos para los pasajeros que embarcaron en el puerto de Southampton
df_titanic[condicion].count()

**Ejercicio:** Tome las filas de personas que no sobrevivieron, muestre el promedio de todas las columnas para ese grupo.

In [ ]:
# RESPUESTA

In [ ]:
# Plus: compararlas con el grupo de los que sí sobrevivieron

### Datos faltantes

Frecuentemente vamos a tener bases de datos con valores faltantes.

Pase lo que pase hay que preguntarnos: ¿por qué los valores están faltantes? --> De ahí vamos a tomar decisiones sobre cómo manejarlos.

**Ejemplo:**
- No tenemos la medición de ritmo cardiaco de todos los miembros del equipo porque algunos no vinieron el día de la medición. ¿Qué hacer con estos valores de ritmo cardiaco?
- No tenemos la medición de puntos en la competencia porque ese día algunos participantes no concursaron. ¿Qué hacer con estos valores de puntos?

**Podemos identificar las filas con datos faltantes en alguna columna**

In [ ]:
estaVacio = df_titanic['Age'].isnull()

In [ ]:
datosSinEdad = df_titanic[estaVacio]
datosSinEdad.head()

**Podemos usar loc para reemplazar los valores vacíos**</br>
(Aunque en este caso lo recomendable sería dejarlos como están).

In [ ]:
df_titanic.loc[estaVacio, 'Age'] = 0

In [ ]:
datosSinEdad.head()

**NOTEN:** ¡Modificamos **df_titanic**, pero al revisar **datosSinEdad**, los cambios habían sido aplicados también!

Esto pasa porque cuando almacenamos una "tabla" en una variable, por lo general obtenemos **una referencia a esas observaciones**, no una copia independiente.

Todo lo que hagamos a la tabla original, se podrá ver también al revisar la referencia.

Para obtener una **copia independiente** de una tabla, usamos la función copy()

In [ ]:
unaCopiaAparte = df_titanic.copy()

In [ ]:
unaCopiaAparte["Ticket"] = 0

**Vemos que los cambios se aplican a la copia, pero no a la tabla original**

In [ ]:
df_titanic.head()

In [ ]:
unaCopiaAparte.head()

**En otras ocasiones, queremos descartar todas las filas que tienen algún dato faltante**

In [ ]:
filtro = df_titanic['Cabin'].isnull()

In [ ]:
df_titanic_con_cabina = df_titanic.drop(df_titanic[filtro].index)

In [ ]:
df_titanic_con_cabina.head()

**NOTEN** ¡Los índices (la cuenta de filas a la izquierda) quedaron locos!

In [ ]:
df_titanic_con_cabina.reset_index()

## 2. Relación y unión de bases de datos

Frecuentemente vamos a tener información en tablas separadas que vamos a tener que unir para poder:
* Relacionar columnas que están en tablas distintas
* Considerar todas filas a la vez, que quedaron en tablas distintas

Existen al menos 4 librerías en Python para hacer estas uniones. Pero nosotros vamos a usar:
- append para pegar filas
- join para pegar columnas

### Append: pegarle más filas

DataFrame.**append**(other, ignore_index=False, verify_integrity=False, sort=False)

Parámetros:
<ul>
    <li><b>other</b>: Información para unir. Permite DF, Series, Diccionarios o listas.</li>
    <li><b>ignore_index</b>: Booleano. Si es verdadero el índice queda numerado de 0 a n.</li>
    <li><b>verify_integrity</b>: Booleano. Si es verdadero crea un error al crear un índice duplicado.</li>
    <li><b>sort</b>: Booleano. Deja organizar el DF.</li>
</ul>

El método **append** será deprecado de la librería por lo tanto se recomienda utilizar **concat** en su lugar.

**Ejercicio:** Cuales son los parámetros de la función concat?

In [ ]:
# Creamos unas tablas de prueba
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'), index=['x', 'y'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'), index=['x', 'y'])
l1 = ["a", "b"]

In [ ]:
# Intentemos cambiando el valor en ignore_index y veamos que pasa
df = pd.concat([df, df2], ignore_index=True)
df

In [ ]:
df = pd.concat([df, l1], ignore_index=True) # Que pasa si tenemos una lista

In [ ]:
#Podemos convertir la lista en un dataframe y usar concat
l1_df = pd.DataFrame([l1], columns=df.columns)
df = pd.concat([df, l1_df], ignore_index=True)
df

**Podemos sólo agregarla en la última posición, si la lista corresponde con las columnas**

In [ ]:
df.loc[len(df)]=l1
df

### Join: pegarle más columnas

DataFrame.**join**(other, on=None, how='left', lsuffix='', rsuffix='', sort=False, validate=None)

Parámetros:
<ul>
    <li><b>other</b>: Objetos para unir. Permite DF o Series.</li>
    <li><b>on</b>: str. Llave por la cual se van a unir las bases.</li>
    <li><b>how</b>: str. Método para unir los objetos.</li>
    <li><b>lsufix</b>: str. Complementos a los nombres de las variables para diferenciar entre los objetos (Izquierda).</li>
    <li><b>rsufix</b>: str. Complementos a los nombres de las variables para diferenciar entre los objetos (Derecha).</li>
    <li><b>sort</b>: Bool. Ordenar por el índice.</li>
    <li><b>validate</b>: str. Verifica si el cruce se realizó 1:1, 1:m o m:1.</li>
</ul>

In [ ]:
dfa = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
dfb = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})

In [ ]:
dfa.join(dfb, lsuffix='_A', rsuffix='_B')

In [ ]:
dfa.join(dfb.set_index('key'), on='key')

**También hay configuraciones con las que podemos jugar para quedarnos con las filas que están en una tabla y no en la otra; o bien en ambas, etc. Con esas podemos jugar, o podemos meramente eliminar lo que no queremos después de hacer la unión.**

**Ejercicio:** Pegar la columna C del siguiente dataframe, a la base dfb a partir de la columna key.

¿Qué función deberíamos usar? append o join

In [ ]:
dfc = pd.DataFrame({'key': ['K0', 'K2'],
                      'C': ['C0', 'C2']})
dfc

In [ ]:
# RESPUESTA: