<a href="https://colab.research.google.com/github/jazaineam1/Andes_ADDBD/blob/main/Sesion4/M1_Clase_4_Manipulaci%C3%B3n_de_datos_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Análisis de Datos y Big data***

## ***Universidad de los Andes***
>## **Dirección de Educación Continua.**
>>## **Formación de habilidades escenciales.**

![Imágen1](https://github.com/jazaineam1/Andes_ADDBD/blob/main/Imagenes/Presentaci%C3%B3n-removebg-preview.png?raw=true)

## **Manipulación de datos en Python**
## **Módulo 1**

## ¿Existe relación alguna entre el total de minutos usados con la compañía y el ingreso total de los clientes?
En el desarrollo de este caso introduciremos las librerías pandas, numpy y matplotlib para el preprocesamiento, visualización de un conjunto de datos y el desarrollo de algunas medidas estadísticas descriptivas.



##  Introducción

La revisión del comportamiento de los clientes en cualquier empresa es de vital importancia para el desarrollo de estrategias  tanto de mejoramiento de productos como de publicidad y toma de decisiones. Evaluaremos la información obtenida de un conjunto de registro obtenidos de una empresa de telecomunicaciones que cuenta con la revisión de las siguientes variables:

1. totrev: Ingresos del cliente
2. totmou: Total de minutos usados por el cliente
3. area: Área geográfica
4. creditcd: Indicador de tarjeta de crédito
5. eqpdays: Número de días (antigüedad) del equipo actual

Es importante mencionar que la empresa contiene una gran cantidad de clientes y hacer el análisis uno a uno no es lo  óptimo. Con ayuda de la programación y el análisis de datos, se logrará llegar a conclusiones rápidas y acertadas para encontrar relaciones que a simple vista no son tenidas en cuenta.

### ¿Qué se quiere identificar? Teniendo en cuenta la información de la base de datos se quiere identificar si hay una relación entre el total de minutos usados por el cliente con la compañía y el ingreso total de los clientes, es decir, Será posible afirmar que cuando una persona
tiene un mayor ingreso mayor entonces es mayor la utilización de minutos o todo lo contrario?


####  Insumos para tratar este problema


Teniendo en cuenta que la compañía tenia estándares para la entrega de la información, se dispone de un  conjunto de tablas en formato CSV ordenado de la siguiente manera:
La información de este conjunto de datos puede encontrase en [aquí](https://www.kaggle.com/abhinav89/telecom-customer?select=Telecom_customer+churn.csv)

### Objetivos

En este caso usted tendrá que cargar varias bases de datos, hará una exploración básica sobre la información y fusionará las distintas bases para tener una visión general del problema. La idea es que desarrolle las siguientes habilidades:

1. Manejo de la librería pandas de Python para cargar y leer datos;
2. Ideas elementales para una útil transformación de los datos;
3. Construcción y presentación de argumentos válidos que le brindarán una solución para la pregunta expresada más arriba y llegar a una conclusión.
4. Visualización de gráficas elementales que le permitirá entender mejor la información contenida en los datos.

#### Importación de paquetes


Una de las mejores opciones para trabajar con datos tabulares en Python es usar el módulo pandas. La librería `pandas` provee estructuras de datos, genera gráficos de alta calidad con `matplotlib` y se integra de buena forma con otras librerías que usan arrays de `numpy`.

Debemos revisar si la librería se encuentra en nuestro sistema usando el comando

```python
!pip show librería
```

In [9]:
!pip show pandas
!pip show numpy
!pip show matplotlib

Name: pandas
Version: 2.0.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page:
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

        Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
        All rights reserved.

        Copyright (c) 2011-2023, Open source contributors.

        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions are met:

        * Redistributions of source code must retain the above copyright notice, this
          list of conditions and the following disclaimer.

        * Redistributions in binary form must reproduce the above copyright notice,
          this list of conditions and the following disclaimer in the documentation
          and/or other materials provided with the distribution.

        * Neither the name of the copyright holder nor the names of its
          contributors may be used to endorse or promote products derived from
          this software without specific prior written permission.

        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: /usr/local/lib/python3.10/dist-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: altair, arviz, bigframes, bokeh, bqplot, cmdstanpy, cudf-cu12, cufflinks, datascience, db-dtypes, dopamine-rl, fastai, geemap, geopandas, google-colab, gspread-dataframe, holoviews, ibis-framework, mizani, mlxtend, pandas-datareader, pandas-gbq, panel, plotnine, prophet, pymc, seaborn, sklearn-pandas, statsmodels, vega-datasets, xarray, yfinance
Name: numpy
Version: 1.25.2
Summary: Fundamental package for array computing in Python
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: BSD-3-Clause
Location: /usr/local/lib/python3.10/dist-packages
Requires:
Required-by: albumentations, altair, arviz, astropy, autograd, blis, bokeh, bqplot, chex, cmdstanpy, contourpy, cudf-cu12, cufflinks, cupy-cuda12x, cvxpy, datascience, db-dtypes, dopamine-rl, ecos, flax, folium, geemap, gensim, gym, h5py, holoviews, hyperopt, ibis-framework, imageio, imbalanced-learn, imgaug, jax, jaxlib, librosa, lightgbm, matplotlib, matplotlib-venn, missingno, mizani, ml-dtypes, mlxtend, moviepy, music21, nibabel, numba, numexpr, opencv-contrib-python, opencv-python, opencv-python-headless, opt-einsum, optax, orbax-checkpoint, osqp, pandas, pandas-gbq, pandas-stubs, patsy, plotnine, prophet, pyarrow, pycocotools, pyerfa, pymc, pytensor, python-louvain, PyWavelets, qdldl, qudida, rmm-cu12, scikit-image, scikit-learn, scipy, scs, seaborn, shapely, sklearn-pandas, soxr, spacy, stanio, statsmodels, tables, tensorboard, tensorflow, tensorflow-datasets, tensorflow-hub, tensorflow-probability, tensorstore, thinc, tifffile, torchtext, torchvision, transformers, wordcloud, xarray, xarray-einstats, xgboost, yellowbrick, yfinance
Name: matplotlib
Version: 3.7.1
Summary: Python plotting package
Home-page: https://matplotlib.org
Author: John D. Hunter, Michael Droettboom
Author-email: matplotlib-users@python.org
License: PSF
Location: /usr/local/lib/python3.10/dist-packages
Requires: contourpy, cycler, fonttools, kiwisolver, numpy, packaging, pillow, pyparsing, python-dateutil
Required-by: arviz, bigframes, datascience, fastai, geemap, imgaug, matplotlib-venn, missingno, mizani, mlxtend, music21, plotnine, prophet, pycocotools, seaborn, wordcloud, yellowbrick

En el caso de que la librería no se encuentre instalada ejecutamos el comando

```python
!pip install librería
```

Para importar las librerías usamos el comando
```python
import librería as alias
```

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

Luego de que tener los paquetes activados dentro de nuestro ambiente de python podremos usar las fucnciones que se encuentren en la librería.

### Introducción a pandas

Poner información sobre pandas e indicar la diferencia entre series y dataframe

![](https://www.cdn.geeksforgeeks.org/wp-content/uploads/creating_dataframe1.png)

A continuación, mostramos el código a ejecutar para crear una ` Serie`

In [11]:
Serie1 = pd.Series(
index=[0, 1, 2, 3, 4], name="Variable1", data=["A","B","C","D","E"]
)
Serie1

0    A
1    B
2    C
3    D
4    E
Name: Variable1, dtype: object

In [12]:
Data_Frame = pd.DataFrame(
index=[0, 1, 2, 3, 4], columns=["Variable2","Variable3"], data=[[1, 1], ["2", 2],[3,3],[4,4],[5,5]]
)
Data_Frame

  Variable2  Variable3
0         1          1
1         2          2
2         3          3
3         4          4
4         5          5

Para revisar el tipo de objeto que contiene nuestro DataFrame podemos ejecutar

In [13]:
Data_Frame.dtypes
#Serie1.dtypes

Variable2    object
Variable3     int64
dtype: object

### Carga de información en `pandas`

Para nuestro  ejercicio usaremos los siguientes conjuntos de datos alojado [acá](https://github.com/jazaineam1/Andes_ADDBD/blob/main/Sesion4/), por favor descarguelo y deje sus datos en el archivo colab:

1. NEW ENGLAND AREA.csv
2. ATLANTIC SOUTH AREA.csv
3. NEW YORK CITY AREA.csv
4. CHICAGO AREA.csv
5. NORTH FLORIDA AREA.csv
6. DC-MARYLAND-VIRGINIA AREA.csv
7. GREAT LAKES AREA.csv
8. NORTHWEST-ROCKY MOUNTAIN AREA.csv
9. MIDWEST AREA.csv
10. SOUTHWEST AREA.csv
11. LOS ANGELES AREA.csv
12. HOUSTON AREA.csv
13. CALIFORNIA NORTH AREA.csv
14. CENTRAL-SOUTH TEXAS AREA.csv
15. DALLAS AREA.csv
16. PHILADELPHIA AREA.csv
17. TENNESSEE AREA.csv
18. OHIO AREA.csv
19. SOUTH FLORIDA AREA.csv

Cada uno de estos conjuntos de datos contiene la información de:

1. *mou_Mean:* Número medio de minutos de uso mensuales
2. *custcare_Mean:* Número medio de llamadas de atención al cliente
3. *area:*  Área geografica
4. *creditcd:* Indicador de tarjeta de crédito
5. *eqpdays:* Número de días (antigüedad) del equipo actual

Además, se incluye _Credito_dias.csv_ con la información de 2 variables adicionales para los registros las cuales son:

1. _creditcd:_ Indicador de tarjeta de crédito
2. _eqpdays:_ Número de días (antigüedad) del equipo actual

Revisaremos inicialmente los datos contenidos en _Credito_dias.csv_ para revisar algunas funciones interesantes de `pandas`, usaremos el comando
```python
pd.read_csv("archivo.csv")
```
Podemos definir el número de registros a imprimir usando
```python
pd.options.display.min_rows=10
````

In [14]:
!mkdir Bases

mkdir: cannot create directory ‘Bases’: File exists

In [15]:
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/Credito_dias.csv -O Bases/Credito_dias.csv

--2024-05-08 23:27:26--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/Credito_dias.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 283429 (277K) [text/plain]
Saving to: ‘Bases/Credito_dias.csv’

Bases/Credito_dias. 100%[===================>] 276.79K  --.-KB/s    in 0.03s

2024-05-08 23:27:26 (7.73 MB/s) - ‘Bases/Credito_dias.csv’ saved [283429/283429]

In [16]:

!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/ATLANTIC%20SOUTH%20AREA.csv -O Bases/ATLANTIC_SOUTH_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/CALIFORNIA%20NORTH%20AREA.csv -O Bases/CALIFORNIA_NORTH_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/CENTRAL-SOUTH%20TEXAS%20AREA.csv -O Bases/CENTRAL-SOUTH_TEXAS_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/CHICAGO%20AREA.csv -O Bases/CHICAGO_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/DALLAS%20AREA.csv -O Bases/DALLAS_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/DC-MARYLAND-VIRGINIA%20AREA.csv -O Bases/DC-MARYLAND-VIRGINIA_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/GREAT%20LAKES%20AREA.csv -O Bases/GREAT_LAKES_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/HOUSTON%20AREA.csv -O Bases/HOUSTON_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/LOS%20ANGELES%20AREA.csv -O Bases/LOS_ANGELES_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/MIDWEST%20AREA.csv -O Bases/MIDWEST_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/NEW%20ENGLAND%20AREA.csv -O Bases/NEW_ENGLAND_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/NEW%20YORK%20CITY%20AREA.csv -O Bases/NEW_YORK_CITY_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/NORTH%20FLORIDA%20AREA.csv -O Bases/NORTH_FLORIDA_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/NORTHWEST-ROCKY%20MOUNTAIN%20AREA.csv -O Bases/NORTHWEST-ROCKY_MOUNTAIN_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/OHIO%20AREA.csv -O Bases/OHIO_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/PHILADELPHIA%20AREA.csv -O Bases/PHILADELPHIA_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/SOUTH%20FLORIDA%20AREA.csv -O Bases/SOUTH_FLORIDA_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/SOUTHWEST%20AREA.csv -O Bases/SOUTHWEST_AREA.csv
!wget https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/TENNESSEE%20AREA.csv -O Bases/TENNESSEE_AREA.csv

--2024-05-08 23:27:26--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/ATLANTIC%20SOUTH%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25960 (25K) [text/plain]
Saving to: ‘Bases/ATLANTIC_SOUTH_AREA.csv’

Bases/ATLANTIC_SOUT 100%[===================>]  25.35K  --.-KB/s    in 0.002s

2024-05-08 23:27:26 (14.9 MB/s) - ‘Bases/ATLANTIC_SOUTH_AREA.csv’ saved [25960/25960]

--2024-05-08 23:27:27--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/CALIFORNIA%20NORTH%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 27154 (27K) [text/plain]
Saving to: ‘Bases/CALIFORNIA_NORTH_AREA.csv’

Bases/CALIFORNIA_NO 100%[===================>]  26.52K  --.-KB/s    in 0.002s

2024-05-08 23:27:27 (11.5 MB/s) - ‘Bases/CALIFORNIA_NORTH_AREA.csv’ saved [27154/27154]

--2024-05-08 23:27:27--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/CENTRAL-SOUTH%20TEXAS%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19784 (19K) [text/plain]
Saving to: ‘Bases/CENTRAL-SOUTH_TEXAS_AREA.csv’

Bases/CENTRAL-SOUTH 100%[===================>]  19.32K  --.-KB/s    in 0.001s

2024-05-08 23:27:27 (31.4 MB/s) - ‘Bases/CENTRAL-SOUTH_TEXAS_AREA.csv’ saved [19784/19784]

--2024-05-08 23:27:27--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/CHICAGO%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17950 (18K) [text/plain]
Saving to: ‘Bases/CHICAGO_AREA.csv’

Bases/CHICAGO_AREA. 100%[===================>]  17.53K  --.-KB/s    in 0.001s

2024-05-08 23:27:27 (23.4 MB/s) - ‘Bases/CHICAGO_AREA.csv’ saved [17950/17950]

--2024-05-08 23:27:27--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/DALLAS%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18249 (18K) [text/plain]
Saving to: ‘Bases/DALLAS_AREA.csv’

Bases/DALLAS_AREA.c 100%[===================>]  17.82K  --.-KB/s    in 0.003s

2024-05-08 23:27:27 (5.67 MB/s) - ‘Bases/DALLAS_AREA.csv’ saved [18249/18249]

--2024-05-08 23:27:27--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/DC-MARYLAND-VIRGINIA%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31787 (31K) [text/plain]
Saving to: ‘Bases/DC-MARYLAND-VIRGINIA_AREA.csv’

Bases/DC-MARYLAND-V 100%[===================>]  31.04K  --.-KB/s    in 0.002s

2024-05-08 23:27:28 (12.3 MB/s) - ‘Bases/DC-MARYLAND-VIRGINIA_AREA.csv’ saved [31787/31787]

--2024-05-08 23:27:28--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/GREAT%20LAKES%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19685 (19K) [text/plain]
Saving to: ‘Bases/GREAT_LAKES_AREA.csv’

Bases/GREAT_LAKES_A 100%[===================>]  19.22K  --.-KB/s    in 0s

2024-05-08 23:27:28 (38.9 MB/s) - ‘Bases/GREAT_LAKES_AREA.csv’ saved [19685/19685]

--2024-05-08 23:27:28--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/HOUSTON%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16863 (16K) [text/plain]
Saving to: ‘Bases/HOUSTON_AREA.csv’

Bases/HOUSTON_AREA. 100%[===================>]  16.47K  --.-KB/s    in 0.001s

2024-05-08 23:27:28 (29.4 MB/s) - ‘Bases/HOUSTON_AREA.csv’ saved [16863/16863]

--2024-05-08 23:27:28--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/LOS%20ANGELES%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 27343 (27K) [text/plain]
Saving to: ‘Bases/LOS_ANGELES_AREA.csv’

Bases/LOS_ANGELES_A 100%[===================>]  26.70K  --.-KB/s    in 0.002s

2024-05-08 23:27:28 (11.8 MB/s) - ‘Bases/LOS_ANGELES_AREA.csv’ saved [27343/27343]

--2024-05-08 23:27:28--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/MIDWEST%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24693 (24K) [text/plain]
Saving to: ‘Bases/MIDWEST_AREA.csv’

Bases/MIDWEST_AREA. 100%[===================>]  24.11K  --.-KB/s    in 0.002s

2024-05-08 23:27:28 (14.1 MB/s) - ‘Bases/MIDWEST_AREA.csv’ saved [24693/24693]

--2024-05-08 23:27:28--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/NEW%20ENGLAND%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21122 (21K) [text/plain]
Saving to: ‘Bases/NEW_ENGLAND_AREA.csv’

Bases/NEW_ENGLAND_A 100%[===================>]  20.63K  --.-KB/s    in 0.002s

2024-05-08 23:27:29 (11.5 MB/s) - ‘Bases/NEW_ENGLAND_AREA.csv’ saved [21122/21122]

--2024-05-08 23:27:29--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/NEW%20YORK%20CITY%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48909 (48K) [text/plain]
Saving to: ‘Bases/NEW_YORK_CITY_AREA.csv’

Bases/NEW_YORK_CITY 100%[===================>]  47.76K  --.-KB/s    in 0.01s

2024-05-08 23:27:29 (4.60 MB/s) - ‘Bases/NEW_YORK_CITY_AREA.csv’ saved [48909/48909]

--2024-05-08 23:27:29--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/NORTH%20FLORIDA%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18758 (18K) [text/plain]
Saving to: ‘Bases/NORTH_FLORIDA_AREA.csv’

Bases/NORTH_FLORIDA 100%[===================>]  18.32K  --.-KB/s    in 0.001s

2024-05-08 23:27:29 (26.0 MB/s) - ‘Bases/NORTH_FLORIDA_AREA.csv’ saved [18758/18758]

--2024-05-08 23:27:29--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/NORTHWEST-ROCKY%20MOUNTAIN%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22776 (22K) [text/plain]
Saving to: ‘Bases/NORTHWEST-ROCKY_MOUNTAIN_AREA.csv’

Bases/NORTHWEST-ROC 100%[===================>]  22.24K  --.-KB/s    in 0.001s

2024-05-08 23:27:29 (15.3 MB/s) - ‘Bases/NORTHWEST-ROCKY_MOUNTAIN_AREA.csv’ saved [22776/22776]

--2024-05-08 23:27:29--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/OHIO%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14565 (14K) [text/plain]
Saving to: ‘Bases/OHIO_AREA.csv’

Bases/OHIO_AREA.csv 100%[===================>]  14.22K  --.-KB/s    in 0.001s

2024-05-08 23:27:29 (26.9 MB/s) - ‘Bases/OHIO_AREA.csv’ saved [14565/14565]

--2024-05-08 23:27:29--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/PHILADELPHIA%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10160 (9.9K) [text/plain]
Saving to: ‘Bases/PHILADELPHIA_AREA.csv’

Bases/PHILADELPHIA_ 100%[===================>]   9.92K  --.-KB/s    in 0s

2024-05-08 23:27:30 (53.9 MB/s) - ‘Bases/PHILADELPHIA_AREA.csv’ saved [10160/10160]

--2024-05-08 23:27:30--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/SOUTH%20FLORIDA%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15530 (15K) [text/plain]
Saving to: ‘Bases/SOUTH_FLORIDA_AREA.csv’

Bases/SOUTH_FLORIDA 100%[===================>]  15.17K  --.-KB/s    in 0.001s

2024-05-08 23:27:30 (28.0 MB/s) - ‘Bases/SOUTH_FLORIDA_AREA.csv’ saved [15530/15530]

--2024-05-08 23:27:30--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/SOUTHWEST%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22158 (22K) [text/plain]
Saving to: ‘Bases/SOUTHWEST_AREA.csv’

Bases/SOUTHWEST_ARE 100%[===================>]  21.64K  --.-KB/s    in 0.002s

2024-05-08 23:27:30 (14.0 MB/s) - ‘Bases/SOUTHWEST_AREA.csv’ saved [22158/22158]

--2024-05-08 23:27:30--  https://raw.githubusercontent.com/jazaineam1/Andes_ADDBD/main/Sesion4/Bases/TENNESSEE%20AREA.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10247 (10K) [text/plain]
Saving to: ‘Bases/TENNESSEE_AREA.csv’

Bases/TENNESSEE_ARE 100%[===================>]  10.01K  --.-KB/s    in 0s

2024-05-08 23:27:30 (58.2 MB/s) - ‘Bases/TENNESSEE_AREA.csv’ saved [10247/10247]

In [17]:
df=pd.read_csv("Bases/Credito_dias.csv", sep=",",index_col="Customer_ID")
df.head(7)

              totmou   totrev creditcd  eqpdays
Customer_ID
1082423       7269.0   906.58        Y      371
1069232      13552.0  1172.25        N       83
1031705       4152.0   577.39        Y      675
1089806       1863.0   294.26        Y      218
1076695       4155.0   433.16        N      222
1091652       5441.0   578.80        Y       68
1043846       7294.0  1495.18        Y      460

In [18]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool' = False, date_parser=<no_default>, date_format: 'str | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True in addition to case-insensitive variants of "True".
    false_values : list, optional
        Values to consider as False in addition to case-insensitive variants of "False".
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
        'n/a', 'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`to_datetime` as-needed.
    date_format : str or dict of column -> format, default ``None``
       If used in conjunction with ``parse_dates``, will parse dates according to this
       format. For anything more complex,
       please read in as ``object`` and then apply :func:`to_datetime` as-needed.

       .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional, default "utf-8"
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than
              expected, a ``ParserWarning`` will be emitted while dropping extra elements.
              Only supported when ``engine="python"``

    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point

El conjunto de datos se encuentra en el `DataFrame` `df`

sobre el objeto creado podemos usar  algunas funciones  para darnos una idea del comportamiento de la información:
```python
df.head(n)  # imprime los primeros n registros del DataFrame
df.tail(n)  # imprime los primeros n registros del DataFrame
df.shape    # imprime el numero de columnas y filas del DataFrame
df.columns  # imprime el nombre de las columnas del DataFrame
df.index    # imprime el indice de los registros del DataFrame
df.dtypes   # inpreme el tipo de cada una de las columnnas del DataFrame
df.sample(n)# imprime una muestra aleatoria de n registros en el DataFrame
```

In [19]:
display("primeros 3 registros",df.head(3))
display("últimos registros",df.tail(3))
display(df.columns)
display(df.index)
display("Tipos de registros en el DataFrame",df.dtypes)
display("Muestra akleatoria de 3 registros",df.sample(3))
display("dimensión",df.shape)

'primeros 3 registros'

              totmou   totrev creditcd  eqpdays
Customer_ID
1082423       7269.0   906.58        Y      371
1069232      13552.0  1172.25        N       83
1031705       4152.0   577.39        Y      675

'últimos registros'

             totmou   totrev creditcd  eqpdays
Customer_ID
1096497      3690.0   294.29        Y      212
1087248      3333.0   233.08        Y      290
1099003      5025.0  1436.49        Y     1029

Index(['totmou', 'totrev', 'creditcd', 'eqpdays'], dtype='object')

Index([1082423, 1069232, 1031705, 1089806, 1076695, 1091652, 1043846, 1088967,
       1045239, 1046584,
       ...
       1087145, 1002540, 1044082, 1083458, 1093976, 1027614, 1098422, 1096497,
       1087248, 1099003],
      dtype='int64', name='Customer_ID', length=10000)

'Tipos de registros en el DataFrame'

totmou      float64
totrev      float64
creditcd     object
eqpdays       int64
dtype: object

'Muestra akleatoria de 3 registros'

              totmou   totrev creditcd  eqpdays
Customer_ID
1067723      14128.0  1285.79        N      230
1092245       4613.0   542.79        Y      301
1070508       4575.0   430.34        N      362

'dimensión'

(10000, 4)

In [20]:
df[df["totrev"]<5]

Empty DataFrame
Columns: [totmou, totrev, creditcd, eqpdays]
Index: []

Este conjunto de datos corresponde a 10000 registros y 2 variables

### Manejo de datos duplicados

os dataframes tienen la posibilidad de detectar las filas duplicadas con la función:
```
df.duplicated({columns})
```
Si no especifica {columns}, se busacarán duplicados teniendo en cuenta todas las columnas. Una vez detectados el dtaframe tiene un función para eliminar filas duplicadas, haciendo:

```
df = df.drop_duplicates()
```
También es posible eliminar filas que duplican solo algunos campos. Con el fin de dejar solo una ocurrencia.

```
df.drop_duplicates(['nombre', 'apellido', 'cédula'], keep='last')
```
En este caso, como no todas las colomnas son iguales se conserva solo la última ocurrencia.

### Manejo de datos perdidos o esperados
Son aquellos datos flatantes en la tabla que por alguna razón o error no se encuentran, o parecen con algún valor o etiqueta de no válido.
Para manipular datos perdidos use la explicación dada el siguiente enlace: [DATOS PERDIDOS](http://ligdigonzalez.com/manipulando-datos-perdidos-en-python/)
recuerde que para reemplazar datos perdidos en un dataframe $df$ se usa la función:
```python
promedio = df['totrev'].mean()
df['nota'].replace(np.nan, promedio)
```
en donde la opción 'promedio' busca el valor promedio de la columna (datos numéricos) o la moda (datos categóricos) para reemplazar el valor no válido.

In [21]:
df.isnull().any(axis=0)

totmou      False
totrev      False
creditcd     True
eqpdays     False
dtype: bool

In [22]:
df.isnull().any(axis=1)

Customer_ID
1082423    False
1069232    False
1031705    False
1089806    False
1076695    False
           ...
1027614    False
1098422    False
1096497    False
1087248    False
1099003    False
Length: 10000, dtype: bool

In [23]:
df["creditcd"].isnull()

Customer_ID
1082423    False
1069232    False
1031705    False
1089806    False
1076695    False
           ...
1027614    False
1098422    False
1096497    False
1087248    False
1099003    False
Name: creditcd, Length: 10000, dtype: bool

In [24]:
perdidos = df[(df['creditcd'].isnull()) ]
perdidos

              totmou   totrev creditcd  eqpdays
Customer_ID
1072218       5684.0   857.65      NaN      244
1066597        925.0   373.12      NaN      344
1023352      14466.0  2243.76      NaN      387
1045521       2504.0   756.79      NaN      495
1001813      76260.0  5526.11      NaN      361
...              ...      ...      ...      ...
1050795      15591.0  1330.71      NaN      447
1096985       3011.0   522.14      NaN       74
1025203        853.0   650.34      NaN      780
1099258      33660.0  4247.85      NaN      206
1026149       1955.0   606.08      NaN      770

[152 rows x 4 columns]

In [25]:
promedio = df['totrev'].mean()
df['totrev'].replace(np.nan, promedio)

Customer_ID
1082423     906.58
1069232    1172.25
1031705     577.39
1089806     294.26
1076695     433.16
            ...
1027614     484.31
1098422     583.36
1096497     294.29
1087248     233.08
1099003    1436.49
Name: totrev, Length: 10000, dtype: float64

También es recomendado usar la funcion `fillna()`

In [26]:
df['creditcd'].fillna("Y",inplace=True)

In [27]:
df.isnull().any(axis=0)

totmou      False
totrev      False
creditcd    False
eqpdays     False
dtype: bool

In [28]:
df

              totmou   totrev creditcd  eqpdays
Customer_ID
1082423       7269.0   906.58        Y      371
1069232      13552.0  1172.25        N       83
1031705       4152.0   577.39        Y      675
1089806       1863.0   294.26        Y      218
1076695       4155.0   433.16        N      222
...              ...      ...      ...      ...
1027614       2570.0   484.31        Y      611
1098422       2105.0   583.36        Y     1243
1096497       3690.0   294.29        Y      212
1087248       3333.0   233.08        Y      290
1099003       5025.0  1436.49        Y     1029

[10000 rows x 4 columns]



### Cálculo de estadísticas resumen

Las medidas estadísticas resumen son de gran ayuda para comprender como es el comportamiento de la distribución de los datos, los objetos `DataFrame` ofrecen facilidades para hacer el cálculo de algunas estadísticas sobre cada una de las variables.

```python
df["var"].value_counts() # Encuentra la frecuencia de las categorias de una columna (la columna debe ser cualitativa)
df["var"].min()          # Encuentra el mínimo de una variable cuantitativa
df["var"].median()       # Encuentra el mínimo de una variable cuantitativa
df["var"].mean()         # Encuentra el promedio de una variable cuantitativa
df["var"].max()          # Encuentra el máximo de una variable cuantitativa
df["var"].quantile()     # Encuentra los cuantiles de una variable cuantitativa
```

In [29]:
df["creditcd"].value_counts()

creditcd
Y    6948
N    3052
Name: count, dtype: int64

In [30]:
df["creditcd"].count()

10000

In [31]:
df["eqpdays"].min()

-5

La exploración del anterior resultado puede mostrar inconsistencias  en los registros y nos ayudará a tomar decisiones sobre algunos registros, el valor mínimo de la variable `eqpdays` (Número de días (antigüedad) del equipo actual) debería ser estrictamente positivo y estos pueden ser errores de ingreso.

In [32]:
df["eqpdays"].max()

1823

In [33]:
df["eqpdays"].median()

338.0

In [34]:
df["eqpdays"].mean()

386.7945

In [35]:
df["eqpdays"].quantile(0.25)

210.0

In [36]:
df["eqpdays"].quantile(0.75)

522.0

Estas estadísticas pueden ser resumidas con el comando:
```python
df["var"].describe()  # Estadísticas resumen principales
```

In [37]:
df["eqpdays"].describe()

count    10000.000000
mean       386.794500
std        252.720196
min         -5.000000
25%        210.000000
50%        338.000000
75%        522.000000
max       1823.000000
Name: eqpdays, dtype: float64

### Agregar información de múltiples tablas

Hemos desarrollado un breve resumen estadístico solamente usando la base `Credito_dias.csv`. Realizaremos la combinación de las 19 áreas que nos reportan en los archivos csv. Una forma de lograr esta tarea de agregación es usar el método pd.concat() de pandas. Una entrada en este método puede ser una lista de DataFrames que quiera concatenar. Usaremos un ciclo  `for` sobre cada uno de los archivos de áreas para

In [38]:
df.columns

Index(['totmou', 'totrev', 'creditcd', 'eqpdays'], dtype='object')

In [39]:
df.dtypes

totmou      float64
totrev      float64
creditcd     object
eqpdays       int64
dtype: object

### Ejercicio 1
Determinar los percentiles 25, 50 y 75 para las columnas ttomou, totrev, eqpdays

In [40]:
#Espacio para el desarrollo del ejercicio

In [41]:
os.listdir("Bases")

['CHICAGO_AREA.csv',
 'LOS_ANGELES_AREA.csv',
 'GREAT_LAKES_AREA.csv',
 'NEW_YORK_CITY_AREA.csv',
 'NORTH_FLORIDA_AREA.csv',
 'NORTHWEST-ROCKY_MOUNTAIN_AREA.csv',
 'DC-MARYLAND-VIRGINIA_AREA.csv',
 'NEW_ENGLAND_AREA.csv',
 'SOUTHWEST_AREA.csv',
 'OHIO_AREA.csv',
 'PHILADELPHIA_AREA.csv',
 'TENNESSEE_AREA.csv',
 'MIDWEST_AREA.csv',
 'DALLAS_AREA.csv',
 '.ipynb_checkpoints',
 'SOUTH_FLORIDA_AREA.csv',
 'ATLANTIC_SOUTH_AREA.csv',
 'CALIFORNIA_NORTH_AREA.csv',
 'Credito_dias.csv',
 'CENTRAL-SOUTH_TEXAS_AREA.csv',
 'HOUSTON_AREA.csv']

In [42]:
listado=os.listdir("Bases")
listado

['CHICAGO_AREA.csv',
 'LOS_ANGELES_AREA.csv',
 'GREAT_LAKES_AREA.csv',
 'NEW_YORK_CITY_AREA.csv',
 'NORTH_FLORIDA_AREA.csv',
 'NORTHWEST-ROCKY_MOUNTAIN_AREA.csv',
 'DC-MARYLAND-VIRGINIA_AREA.csv',
 'NEW_ENGLAND_AREA.csv',
 'SOUTHWEST_AREA.csv',
 'OHIO_AREA.csv',
 'PHILADELPHIA_AREA.csv',
 'TENNESSEE_AREA.csv',
 'MIDWEST_AREA.csv',
 'DALLAS_AREA.csv',
 '.ipynb_checkpoints',
 'SOUTH_FLORIDA_AREA.csv',
 'ATLANTIC_SOUTH_AREA.csv',
 'CALIFORNIA_NORTH_AREA.csv',
 'Credito_dias.csv',
 'CENTRAL-SOUTH_TEXAS_AREA.csv',
 'HOUSTON_AREA.csv']

In [43]:
listado.remove('Credito_dias.csv')

In [48]:
listado.remove('.ipynb_checkpoints')

In [49]:
print("Definición de los símbolos de las acciones")
areas = listado
lista_de_df = []
# Bucle sobre los símbolos
print(" --- Inicie el bucle sobre los símbolos --- ")
for i in areas:
    print("Procesando el símbolo: " + i)
    temp_df = pd.read_csv("/content/Bases/" + i,index_col="Customer_ID")
    temp_df["area"] = i
    lista_de_df.append(temp_df)
    # Usando un salto de línea al final de esta cadena de caracteres por estética
    print(" --- Bucle completo sobre los símbolos --- \n")
    # Combinando en un solo DataFrame usando el concat
    print("Agregando los datos")
    agr_df = pd.concat(lista_de_df, axis=0)
    print(agr_df.shape)
    print("Cabeza del DataFrame agr_df: ")
agr_df.head()

Definición de los símbolos de las acciones
 --- Inicie el bucle sobre los símbolos ---
Procesando el símbolo: CHICAGO_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(496, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: LOS_ANGELES_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(1167, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: GREAT_LAKES_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(1655, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: NEW_YORK_CITY_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(2800, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: NORTH_FLORIDA_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(3242, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: NORTHWEST-ROCKY_MOUNTAIN_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(3671, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: DC-MARYLAND-VIRGINIA_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(4311, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: NEW_ENGLAND_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(4836, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: SOUTHWEST_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(5420, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: OHIO_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(5857, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: PHILADELPHIA_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(6102, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: TENNESSEE_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(6370, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: MIDWEST_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(7055, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: DALLAS_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(7573, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: SOUTH_FLORIDA_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(7939, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: ATLANTIC_SOUTH_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(8531, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: CALIFORNIA_NORTH_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(9130, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: CENTRAL-SOUTH_TEXAS_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(9539, 4)
Cabeza del DataFrame agr_df:
Procesando el símbolo: HOUSTON_AREA.csv
 --- Bucle completo sobre los símbolos ---

Agregando los datos
(9997, 4)
Cabeza del DataFrame agr_df:

             custcare_Mean new_cell              area creditcd
Customer_ID
1089806          11.000000        U  CHICAGO_AREA.csv        Y
1088967           0.666667        U  CHICAGO_AREA.csv        N
1085074           0.000000        U  CHICAGO_AREA.csv        Y
1053959           6.666667        Y  CHICAGO_AREA.csv        Y
1046932           1.000000        U  CHICAGO_AREA.csv        N

In [ ]:
agr_df.sort_index(axis=0,inplace=True)
agr_df.head()

In [ ]:
agr_df

La ejecución nos da como resultado una base de datos de 9997 registros correspondiente a la concatenación de todas las áreas. Se debe notar que nuestro conjunto de datos también es indexado por la columna `Customer_ID` y que la dimensión de los registros de está nueva base es menor a la de  `Creditos_dias.csv`.

 ## Cruce de información

El cruce de información es una operación esencial en el análisis de los datos. Usualmente, la posibilidad de realizar el cruce de dos o más fuentes de información es el primer paso para responder preguntas complejas acerca de los datos. Existen muchas formas de cruzar o combinar tablas de datos. El cruce de estos datos siempre tiene un propósito. Por tanto, se debe realizar un análisis de lo que se requiere antes de iniciar. Para esto, lo primero es conocer bien las fuentes de información que se van a relacionar.

### Uniones (Joins)
Usando la librería pandas se pueden realizar 4 tipos de uniones para cruzar información entre dos fuentes de datos, ver Figura abajo.
* INNER JOIN: este tipo de cruce incluye solo los resgistros que coincieden en las dos tablas
* LEFT JOIN:  en este tipo de cruce se incluyen todos los registros de la primera tabla aunque no aparezcan coincidencias en la segunda. Cuando no hay coincidencias en la segunda tabla los campos correspondientes a esta aparecerán como nulos.
* RIGHT JOIN: en este tipo de cruce se incluyen todos los registros de la segunda tabla aunque no aparezcan coincidencias en la primera. Cuando no hay coincidencias en la primer tabla los campos correspondientes a esta aparecerán como nulos.
* OUTER JOIN O FULL JOIN: combina todos los registros de ambas tablas aunque no existan coincidencias en la otra tabla.

![Los tipos de uniones que se pueden ejecutar en pandas](https://letsdobigdata.files.wordpress.com/2016/03/joins.png)

La combinación a usar depende del análisis que se requiera con los datos. Lo más común es realizar un cruce de tipo Inner Join, debido a que muestra los registros cuando aparecen relacionados en ambas tablas. Sin embargo, en
ocasiones se quiere saber que pasa con todos los registros de la primera tabla aunque no se tengan coincidencias. Alternativamente, quizá, lo menos usual es hacer combinaciones de tipo RIGHT o OUTER. Generalmente, estas son usadas cuando se quiere saber por qué no se tienen coincidencias, o cuáles registros no cumplen con la relación especificada.

Ya que desconocemos cuales son los registros perdidos en los 2 dataframes que hemos construido y es necesario para continuar nuestro preprocesamiento el unir la información.

In [ ]:
df3=df.merge(agr_df,left_index=True,right_index=True,how="inner")
df3

,creditcd,eqpdays,mou_Mean,custcare_Mean,new_cell,area
Customer_ID,,,,,,
1015381,Y,49,728.00,0.000000,U,HOUSTON AREA
1013369,Y,606,59.00,0.000000,U,CALIFORNIA NORTH AREA
1025548,Y,81,959.25,0.333333,U,NORTH FLORIDA AREA
1046337,Y,425,380.00,0.000000,Y,NEW YORK CITY AREA
1042815,Y,614,302.25,0.333333,Y,DC-MARYLAND-VIRGINIA AREA
...,...,...,...,...,...,...
1004659,Y,596,177.75,0.000000,N,OHIO AREA
1006046,Y,622,247.00,0.000000,U,NEW YORK CITY AREA
1050240,Y,81,648.75,4.666667,U,DC-MARYLAND-VIRGINIA AREA
1081270,Y,119,368.25,23.000000,U,LOS ANGELES AREA
1065953,N,394,135.75,0.000000,U,NORTHWEST-ROCKY MOUNTAIN AREA

### Ejercicio 2  
¿Cuáles son los 3 registros que no se incluyen en df3 ?

In [ ]:
sin_registros=(df.index.isin(df3.index))
df.iloc[~sin_registros,]

            creditcd  eqpdays
Customer_ID
1021919            N      127
1061499            N      471
1089004            Y      289
1014402            Y      867
1014503            N      269
...              ...      ...
1088508            N      338
1094996            N      194
1006191            Y      953
1076628            N      285
1038465            N      472

[8968 rows x 2 columns]

Si deseamos realizar una filtración sobre algún valor relevante por ejemplo el área podremos revertir el proceso usando el operador `==`  que retorna `True` en el caso que dos objetos tengan el mismo valor

In [ ]:
new_ingland=df3[df3["area"]=="NEW ENGLAND AREA"]
new_ingland.head()

,creditcd,eqpdays,mou_Mean,custcare_Mean,new_cell,area
Customer_ID,,,,,,
1095857,Y,234,59.75,0.000000,U,NEW ENGLAND AREA
1033914,Y,554,130.00,0.000000,U,NEW ENGLAND AREA
1093124,Y,290,688.75,7.333333,U,NEW ENGLAND AREA
1026602,Y,704,351.75,1.333333,U,NEW ENGLAND AREA
1085399,Y,10,87.00,0.000000,Y,NEW ENGLAND AREA

El comando   `df3["area"]=="NEW ENGLAND AREA"`

In [ ]:
df3["area"]=="NEW ENGLAND AREA"

Customer_ID
1015381    False
1013369    False
1025548    False
1046337    False
1042815    False
           ...
1004659    False
1006046    False
1050240    False
1081270    False
1065953    False
Name: area, Length: 1032, dtype: bool

devuelve una serie boleana  con el mismo número de filas de la base`df3`, donde cada valor es `True` o `False` dependiendo si el valor de `area` de un registro  toma el valor de "NEW ENGLAND AREA"

### Agrupación por área geográfica

En el Analisis de la información se suelen usar funciones de resumen, las cuales plantean el agrupamiento de ciertas características por categorías. Para más información consultar [gropby().](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).

Para nuestro desarrollo es de interés el revisar si el comportamiento de las variables se mantiene en cada una de las áreas geográficas.

In [ ]:
df3.groupby("area")

Aquí, el objeto DataFrameGroupBy  contiene un objeto DataFrame para cada grupo (en este caso, un objeto DataFrame para cada símbolo). Específicamente, cada elemento del objeto es una tupla que contiene el identificador de grupo (en este caso el símbolo), y las filas correspondientes del DataFrame que tienen ese símbolo).

La librería `pandas`  permite iterar sobre el objeto groupby() para ver lo que hay dentro:

In [ ]:
group_df = df3.groupby(["area"]) # Datos del grupo en df3 filtrados por el área
# Haciendo un bucle a través de los grupos
for item in group_df:
    print(type(item)) # Mostrando el tipo de artículo en df3
    print(item[0]) # área
    print(item[1].head()) # DataFrame

<class 'tuple'>
('ATLANTIC SOUTH AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1074053            Y      342   1264.75            0.0        U
1073982            N      296    573.00            0.0        Y
1025833            Y      371    386.25            0.0        U
1030162            Y      634     47.00            0.0        Y
1088785            Y      334     91.00            0.0        U

                            area
Customer_ID
1074053      ATLANTIC SOUTH AREA
1073982      ATLANTIC SOUTH AREA
1025833      ATLANTIC SOUTH AREA
1030162      ATLANTIC SOUTH AREA
1088785      ATLANTIC SOUTH AREA
<class 'tuple'>
('CALIFORNIA NORTH AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1013369            Y      606     59.00       0.000000        U
1037882            Y      619     29.25       0.000000        U
1092154            N      182    963.00       5.333333        U
1022023            Y      779    296.50       1.666667        Y
1063201            N      410    271.00       0.000000        U

                              area
Customer_ID
1013369      CALIFORNIA NORTH AREA
1037882      CALIFORNIA NORTH AREA
1092154      CALIFORNIA NORTH AREA
1022023      CALIFORNIA NORTH AREA
1063201      CALIFORNIA NORTH AREA
<class 'tuple'>
('CENTRAL-SOUTH TEXAS AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1004406            Y      257    481.25       0.000000        U
1000176            Y      153   2297.75       0.333333        N
1089701            Y      265    692.00       0.333333        U
1038669            Y      139    419.25      17.000000        U
1041201            Y      394    487.00       0.333333        N

                                 area
Customer_ID
1004406      CENTRAL-SOUTH TEXAS AREA
1000176      CENTRAL-SOUTH TEXAS AREA
1089701      CENTRAL-SOUTH TEXAS AREA
1038669      CENTRAL-SOUTH TEXAS AREA
1041201      CENTRAL-SOUTH TEXAS AREA
<class 'tuple'>
('CHICAGO AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell          area
Customer_ID
1069749            Y      127    172.50            0.0        N  CHICAGO AREA
1037741            N      620     50.75            0.0        U  CHICAGO AREA
1020167            N      134   1204.00            5.0        U  CHICAGO AREA
1006096            Y      252    253.25            0.0        Y  CHICAGO AREA
1075836            N      334    393.25            4.0        N  CHICAGO AREA
<class 'tuple'>
('DALLAS AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell         area
Customer_ID
1028893            Y      265    341.25       0.000000        U  DALLAS AREA
1079578            N      211    343.50       1.333333        U  DALLAS AREA
1063669            N      407   1823.00       4.333333        U  DALLAS AREA
1028614            Y      748    202.50       0.000000        Y  DALLAS AREA
1060830            N      378    558.25       1.666667        U  DALLAS AREA
<class 'tuple'>
('DC-MARYLAND-VIRGINIA AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1042815            Y      614    302.25       0.333333        Y
1009397            Y      886    409.00       0.666667        U
1081662            Y      313    336.00       0.000000        U
1075065            Y      229    172.00       0.000000        U
1033176            N      468    254.75       0.000000        Y

                                  area
Customer_ID
1042815      DC-MARYLAND-VIRGINIA AREA
1009397      DC-MARYLAND-VIRGINIA AREA
1081662      DC-MARYLAND-VIRGINIA AREA
1075065      DC-MARYLAND-VIRGINIA AREA
1033176      DC-MARYLAND-VIRGINIA AREA
<class 'tuple'>
('GREAT LAKES AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1070346          NaN      317    477.75            0.0        U
1080293            N       21    274.75            0.0        U
1044814            Y      440    193.25            2.0        U
1038121            Y      630    197.00            0.0        U
1083184            Y      308    452.75            0.0        U

                         area
Customer_ID
1070346      GREAT LAKES AREA
1080293      GREAT LAKES AREA
1044814      GREAT LAKES AREA
1038121      GREAT LAKES AREA
1083184      GREAT LAKES AREA
<class 'tuple'>
('HOUSTON AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell          area
Customer_ID
1015381            Y       49    728.00       0.000000        U  HOUSTON AREA
1059607            Y      234    728.50       6.666667        Y  HOUSTON AREA
1058920            N      256    188.25       0.666667        Y  HOUSTON AREA
1017413            Y      173    378.50       0.000000        Y  HOUSTON AREA
1017442            Y      207    268.50       0.000000        U  HOUSTON AREA
<class 'tuple'>
('LOS ANGELES AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1090666            N      193     68.00       6.666667        U
1026955            Y      655    149.75       0.000000        U
1085544            N      299   1236.75       0.000000        U
1058333            Y      478    238.50       3.666667        U
1098329            Y     1114     50.25       0.000000        U

                         area
Customer_ID
1090666      LOS ANGELES AREA
1026955      LOS ANGELES AREA
1085544      LOS ANGELES AREA
1058333      LOS ANGELES AREA
1098329      LOS ANGELES AREA
<class 'tuple'>
('MIDWEST AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell          area
Customer_ID
1038344            N      505    773.50       0.000000        Y  MIDWEST AREA
1053645            Y      360    251.00       0.000000        N  MIDWEST AREA
1038062            Y       68    543.25       1.666667        Y  MIDWEST AREA
1066381            N      283    174.25       0.000000        N  MIDWEST AREA
1015955            Y      413    666.50       0.000000        N  MIDWEST AREA
<class 'tuple'>
('NEW ENGLAND AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1095857            Y      234     59.75       0.000000        U
1033914            Y      554    130.00       0.000000        U
1093124            Y      290    688.75       7.333333        U
1026602            Y      704    351.75       1.333333        U
1085399            Y       10     87.00       0.000000        Y

                         area
Customer_ID
1095857      NEW ENGLAND AREA
1033914      NEW ENGLAND AREA
1093124      NEW ENGLAND AREA
1026602      NEW ENGLAND AREA
1085399      NEW ENGLAND AREA
<class 'tuple'>
('NEW YORK CITY AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1046337            Y      425    380.00       0.000000        Y
1001245            Y      257   1028.25       0.666667        N
1050452            Y      450     73.50       0.000000        U
1058995            Y      374    895.25       1.000000        U
1095758            N      238     78.75       0.000000        N

                           area
Customer_ID
1046337      NEW YORK CITY AREA
1001245      NEW YORK CITY AREA
1050452      NEW YORK CITY AREA
1058995      NEW YORK CITY AREA
1095758      NEW YORK CITY AREA
<class 'tuple'>
('NORTH FLORIDA AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1025548            Y       81    959.25       0.333333        U
1075308            Y      180    286.75       1.666667        N
1018726            N      861    260.50       1.666667        U
1064066            N      296   1396.25      14.666667        U
1055183            Y      107   2074.00       9.333333        U

                           area
Customer_ID
1025548      NORTH FLORIDA AREA
1075308      NORTH FLORIDA AREA
1018726      NORTH FLORIDA AREA
1064066      NORTH FLORIDA AREA
1055183      NORTH FLORIDA AREA
<class 'tuple'>
('NORTHWEST-ROCKY MOUNTAIN AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1077839            Y      280    330.50       0.000000        U
1024106            Y      794     19.50       0.000000        Y
1028013            N      521    157.50       0.333333        Y
1065412            N      352    662.75       0.000000        U
1043550            Y      621    123.75       0.000000        Y

                                      area
Customer_ID
1077839      NORTHWEST-ROCKY MOUNTAIN AREA
1024106      NORTHWEST-ROCKY MOUNTAIN AREA
1028013      NORTHWEST-ROCKY MOUNTAIN AREA
1065412      NORTHWEST-ROCKY MOUNTAIN AREA
1043550      NORTHWEST-ROCKY MOUNTAIN AREA
<class 'tuple'>
('OHIO AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell       area
Customer_ID
1060118            N      428      61.0       0.000000        U  OHIO AREA
1067322            Y      371    1945.5       7.666667        Y  OHIO AREA
1069495            Y      430     262.0       0.000000        U  OHIO AREA
1026253            Y      662     315.0       0.000000        U  OHIO AREA
1008475            Y      310     328.5       0.000000        N  OHIO AREA
<class 'tuple'>
('PHILADELPHIA AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1066452            N      283    700.00            0.0        U
1044107            Y      446      1.25            0.0        Y
1024186            Y      109    265.75            0.0        U
1019071            Y      242     77.25            0.0        U
1031261            Y      284     89.25            1.0        Y

                          area
Customer_ID
1066452      PHILADELPHIA AREA
1044107      PHILADELPHIA AREA
1024186      PHILADELPHIA AREA
1019071      PHILADELPHIA AREA
1031261      PHILADELPHIA AREA
<class 'tuple'>
('SOUTH FLORIDA AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1047472            N      290    583.25       0.000000        U
1046737            Y      422    138.75       0.000000        U
1030403            Y      571    151.00       0.000000        Y
1035282            N       84   1041.50       2.333333        N
1082178            Y      311     42.50       0.000000        U

                           area
Customer_ID
1047472      SOUTH FLORIDA AREA
1046737      SOUTH FLORIDA AREA
1030403      SOUTH FLORIDA AREA
1035282      SOUTH FLORIDA AREA
1082178      SOUTH FLORIDA AREA
<class 'tuple'>
('SOUTHWEST AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1052520            N      330    148.25       1.333333        Y
1090490            N      212    192.75      23.000000        U
1090388            Y      319   1624.75       9.666667        U
1007136            N      936     62.50       0.000000        Y
1056248            N      510    304.50       0.333333        Y

                       area
Customer_ID
1052520      SOUTHWEST AREA
1090490      SOUTHWEST AREA
1090388      SOUTHWEST AREA
1007136      SOUTHWEST AREA
1056248      SOUTHWEST AREA
<class 'tuple'>
('TENNESSEE AREA',)
            creditcd  eqpdays  mou_Mean  custcare_Mean new_cell  \
Customer_ID
1074645            N      231    423.00            0.0        U
1029119            Y      638    253.00            0.0        U
1093842            Y      218    280.00            0.0        N
1045411            Y      434     98.25            0.0        U
1075281            Y      397    566.75            0.0        U

                       area
Customer_ID
1074645      TENNESSEE AREA
1029119      TENNESSEE AREA
1093842      TENNESSEE AREA
1045411      TENNESSEE AREA
1075281      TENNESSEE AREA

Usando el método  `groupby()` con el método `describe()` y apliquémoslo a cada símbolo para
analizar la distribución de las características la variable ----.

In [ ]:
group_df = df3.groupby(["area"]) # Datos del grupo en df3 filtrados por el área
# Bucle a través de los grupos
for item in group_df:
    print("------Área: ", item[0])
    group_df1 = item[1]
    df_relevante = group_df[["totrev"]]
    print(df_relevante.describe())

------Área:  ('ATLANTIC SOUTH AREA',)

KeyError: "Columns not found: 'totrev'"

En `pandas`tenemos una manera más sencilla de mostrar estos resultados

In [ ]:
df3[["area","totrev"]].groupby("area").describe()

Estos resultados son iguales a los realizados con el ciclo `for`. Los objetos de tipo `DataFrameGroupBy` permiten una rápida salida de generación de estadísticas para grupos de interés.

### Ejercicio 3

Realice una agrupación por la variable creditcd_x y encuentre el valor de la desviación estándar

In [ ]:
# realice el ejercicio en este espacio

### Etiquetando valores de total de ingresos en categorías

Revisamos el comportamiento de `totrev` y encontramos una gran variabilidad, en ocasiones la agrupación de variables cuantitativas en diferentes categorías nos ayuda a tener una mejor visión del conjunto de datos.

Crearemos una nueva variable `Nivel_totrev`  que catalogue a la variable total de ingresos `totrev` en 2 posibles niveles, alto en el caso que `totrev`  sea mayor al cuantil 50 y baja en otro caso. cada valor de percentil debe ser calculado por cada `area` para asegurar que el +area geografíca sea evaluada adicionalmente.

In [ ]:
pencentiles50 = df3.groupby("area")["totrev"].quantile(0.5) # percentil 50
print(pencentiles50)

Como nos gustaría etiquetar los ingreos en alto y bajopara  cada área geográfica, haremos uso del método
`np.where()` en la biblioteca numpy. Este método toma una entrada y comprueba una condición lógica: si la
condición es verdadera, devolverá su segundo argumento, mientras que si la condición es falsa, devolverá su
tercer argumento.

In [ ]:
# Loop a través de los símbolos
areas = ['ATLANTIC SOUTH AREA',
 'CALIFORNIA NORTH AREA',
 'CENTRAL-SOUTH TEXAS AREA',
 'CHICAGO AREA',
 'DALLAS AREA',
 'DC-MARYLAND-VIRGINIA AREA',
 'GREAT LAKES AREA',
 'HOUSTON AREA',
 'LOS ANGELES AREA',
 'MIDWEST AREA',
 'NEW ENGLAND AREA',
 'NEW YORK CITY AREA',
 'NORTH FLORIDA AREA',
 'NORTHWEST-ROCKY MOUNTAIN AREA',
 'OHIO AREA',
 'PHILADELPHIA AREA',
 'SOUTH FLORIDA AREA',
 'SOUTHWEST AREA',
 'TENNESSEE AREA'] # registro de las áreas
lista_df = []
# ciclo sobre todos los símbolos
for i in areas:
    print("Etiqueta por área: " + i)
    temp_df = df3[df3["area"] == i] .copy()
    umbral_punto = pencentiles50.loc[i]
    temp_df["Nivel_totrev"] = np.where(temp_df["totrev"] < umbral_punto, "Bajo", "Alto")
    lista_df.append(temp_df)
df_con_etiquetas = pd.concat(lista_df)

In [ ]:
df_con_etiquetas.head()

In [ ]:
df_con_etiquetas.head()

Ahora podemos hacer una evaluaciónd de como es el comportamiento de los minutos gastados y el nivel de ingresos de los clientes

### ¿Existe relación alguna entre el total de minutos usados con la compañía y el ingreso total de los clientes?

Para explorar la relación entre el nivel de total de ingresos y el número promedio de llamadas, agrupemos por
Nivel_totrev y miremos ingreso total promedio por cada +area geográfica.

In [ ]:
df_con_etiquetas.groupby(['area','Nivel_totrev'])[['totmou']].mean()

### Ejercicio 4


Escriba el código para categorizar  el total de ingresos  baja, media y alta volatilidad, donde:

`
si totrev > (percentil 75 de totrev para el área dada):
Nivel_totrev = 'Alto'
o si VolStat > (percentil 25 de totrev para el área dada):
Nivel_totrev  = 'Medio'
de lo contrario:
Nivel_totrev  = 'Bajo'`

In [ ]:
# realice el ejercicio en este espacio

### Visualización de total de llamadas y total de ingresos

Ya hemos respondido satisfactoriamente a nuestra pregunta original. Sin embargo, no es necesario solamente
analizar los datos en formato tabular. Python contiene una funcionalidad que le permite analizar sus datos
visualmente también.

Usaremos la funcionalidad de pandas sobre la librería estándar de graficación de Python, `matplotlib`. Vamos
a importar la librería e instruir a Jupyter que muestre los gráficos en línea (es decir, mostrar los gráficos en
la pantalla del cuaderno para que podamos verlos mientras ejecutamos el código):

In [ ]:
modules = dir()
print(modules)

In [ ]:
import matplotlib.pyplot as plt
# Graficar en el cuaderno
%matplotlib inline

#### Histograma

In [ ]:
plt.style.use('ggplot')
plt.hist(df3["totrev"],bins=13,color="#237AAF")
plt.title('Histograma de variable totrev')
plt.xlabel("totrev");plt.ylabel("Frecuencia")
plt.show()

In [ ]:
print(plt.style.available)

#### Boxplot

In [ ]:
plt.style.use('ggplot')
plt.boxplot(df3["totrev"])
plt.title('Boxplot de variable totrev')
plt.show()

#### Gráficas a partir de `groupby`

In [ ]:
df4=df_con_etiquetas.groupby(['area','Nivel_totrev'])[['totmou']].mean()
df4.plot(kind='barh',figsize=(10,8))
plt.show()

#### Gráficas de `pandas`

El modulo`.plot()` genera por defecto una gráfica de línea, existen varios gráficos para los `DataFrameGroup`

    - 'line' : Gráfica de línea
    - 'bar' :  Diagrama de barras vertical
    - 'barh' : Diagrama de barras horizontal
    - 'hist' : histograma
    - 'box' : boxplot
    - 'kde' : Kernel de densidad
    - 'area' : Gráfica de área
    - 'pie' : Diagrama de torta
    - 'scatter' : Diagrama de dispersión
    - 'hexbin' : Diagrama de hexágonos

In [ ]:
df3.columns

In [ ]:
df3["creditcd_x"].value_counts().plot(kind="pie")
plt.show()

Revisando la relación entre las dos variables `totrev` y `totmou`

In [ ]:
df3.plot(kind="scatter",x='totrev',y='totmou',c='blue')

### `Seaborn`

In [ ]:
import seaborn as sns
sns.boxplot(df3["totrev"],orient='v')
plt.title('Boxplot de variable totrev')
plt.show()

### Gráficas de parcela

In [ ]:
df3

In [ ]:
plt.figure(figsize=(116,4))
sns.pairplot(data=df3, hue='creditcd_x', vars=['totrev','totmou','eqpdays'])
plt.title("Parcelas")
plt.show()

In [ ]:
plt.figure(figsize=(6,4))
sns.boxplot(x='Nivel_totrev',y='totmou',data=df_con_etiquetas)
plt.title('Boxplot múltiple para Nivel de ingresos totales y \n total de minutos gastados')
plt.show()

In [ ]:
sns.catplot(y="totmou", x="Nivel_totrev", kind="box",    data=df_con_etiquetas, height=4, aspect=4, palette='Set2')
sns.catplot(y="totmou", x="Nivel_totrev", kind="violin", data=df_con_etiquetas, height=4, aspect=4, palette='Set2')

In [ ]:
ax = sns.catplot(y="totmou", x="Nivel_totrev", hue='creditcd_x', kind='point',data=df_con_etiquetas, aspect=2)
ax = sns.catplot(x="Nivel_totrev", kind='count',data=df_con_etiquetas, col='creditcd_x')

### Ejercicio 5

Realice un  boxplot para la variable totmou segmentado por las variable  credict_x y Nivel_totrev

In [ ]:
# realice el ejercicio en este espacio

## Resumen


1. Leer datos desde archivos.
2. Agregar y manipular datos .
3. Analizar estadísticas de resumen y reunir información.
4. Usar matplotlib para crear gráficos para hacer análisis visual, además de otras librerías.

Para más información

> [https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html)